body {
	padding:0;
	margin:0;
	background-color: white;
	list-style-type: none; box-sizing: border-box;
}
img {
	width: 20px;
}
ul {
	list-style-type: none;
	text-align: right;
}
.online{
	background-color: thistle;
	border: 3px solid white;
}
.online img {

	float: left;	
}
.instructors {
	text-align: left;
}
.disc ul {
	float: left;	
}
.me {
	float: right;
}
.chat {
	background-color: aliceblue;
	align-self: flex-end;
	width: 200px;
	height: 300px;
	max-width: 200px;
}
.you {
	text-align: left;
}
.mechat {
	text-align: right;
}
.react {
	align-self: flex-end;
	height: 30px;
}
.post{
	height: 300px;

}
.sidebar {
	border: 3px solid white;
	background-color: aliceblue;
}
.comment{
	height: 200px;
}

.message{

}
.username-page-container, #usernameForm, .username-page-container{
	width: 150px;
}
.chatheader {
	text-align: center;
  justify-content: center;
}
li {
	max-height: 50px;
}